@{
    ViewData["Title"] = "Kategorije";
}

<h2>Kategorije knjiga</h2>

@* TODO: Forma za dodavanje *@

<div class="card">
    <table>
        <thead><tr><th>Naziv</th><th>Opis</th><th>Broj knjiga</th><th>Akcije</th></tr></thead>
        <tbody>
            @* TODO: foreach (var k in Model) { ... } *@
        </tbody>
    </table>
</div>
