@{
    ViewData["Title"] = "Moj profil";
}

<h2>Moj profil</h2>
<div class="card">
    @* TODO: Popuniti iz Model-a *@
    <p><strong>Ime:</strong> TODO</p>
    <p><strong>Prezime:</strong> TODO</p>
    <p><strong>Email:</strong> TODO</p>
    <p><strong>Uloga:</strong> TODO</p>
    <hr style="margin: 1rem 0;" />
    <h3>Članarina</h3>
    <p><strong>Status:</strong> TODO</p>
    <p><strong>Datum isteka:</strong> TODO</p>
</div>
