@{
    ViewData["Title"] = "Početna";
}

<section class="hero">
    <h2>Dobrodošli u SmartLib</h2>
    <p>Bibliotečki informacioni sistem za upravljanje fondom, članovima i zaduženjima.</p>  
    @*
     <a asp-controller="Knjiga" asp-action="Index" class="btn btn-primary">Pregled kataloga</a>
    *@ 
</section>
